/* RESET */

/* Reset dimensioni */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Immagini */
img{
    width: 100%;
    display: block;
}

/* BODY */
body{
    min-width: 500px;
}

/* FONTS */

/* Stili */
.serif{
    font-family: serif;
}

.sans-serif{
    font-family: sans-serif;
}

.monospace{
    font-family: monospace;
}

.cursive{
    font-family: cursive;
}

.fantasy{
    font-family: fantasy;
}

/* Web Safe fonts più usati (classifica di HubSpot) */
.arial{
    font-family: 'Arial', sans-serif;
}

.arial-black{
    font-family: 'Arial-Black', sans-serif;
}

.verdana{
    font-family: 'Verdana', sans-serif;
}

.tahoma{
    font-family: 'Tahoma', sans-serif;
}

.trebuchet-ms{
    font-family: 'Trebuchet MS', sans-serif;
}

.impact{
    font-family: 'Impact', sans-serif;
}

.times-new-roman{
    font-family: 'Times New Roman', serif;
}

.didot{
    font-family: 'Didot', serif;
}

.georgia{
    font-family: 'Georgia', serif;
}

.american-typewriter{
    font-family: 'American Typewriter', serif;
}

.andale-mono{
    font-family: 'Andalé Mono', monospace;
}

.courier{
    font-family: 'Courier', monospace;
}

.lucida-console{
    font-family: 'Lucida Console', monospace;
}

.monaco{
    font-family: 'Monaco', monospace;
}

.bradley-hand{
    font-family: 'Bradley Hand', cursive;
}

.brush-script-mt{
    font-family: 'Brush Script MT', cursive;
}

.luminari{
    font-family: 'Luminari', fantasy;
}

.comic-sans-ms{
    font-family: 'Comic Sans MS', cursive;
}

/* Google fonts più usati (classifica di Nestify) */
.roboto{
    font-family: 'Roboto', sans-serif;
    /* link: <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet"> */
}

.open-sans{
    font-family: 'Open Sans', sans-serif;
    /* link: <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet"> */
}

.lato{
    font-family: 'Lato', sans-serif;
    /* link: <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet"> */
}

.slabo-27px{
    font-family: 'Slabo 27px', serif;
    /* link: <link href="https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap" rel="stylesheet"> */
}

.oswald{
    font-family: 'Oswald', sans-serif;
    /* link: <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap" rel="stylesheet"> */
}

.roboto-condensed{
    font-family: 'Roboto Condensed', sans-serif;
    /* link: <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap" rel="stylesheet"> */
}

.source-sans-pro{
    font-family: 'Source Sans Pro', sans-serif;
    /* link: <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap" rel="stylesheet"> */
}

.montserrat{
    font-family: 'Montserrat', sans-serif;
    /* link: <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=PT+Sans&family=Raleway:wght@300&display=swap" rel="stylesheet"> */
}

.raleway{
    font-family: 'Raleway', sans-serif;
    /* link: <link href="https://fonts.googleapis.com/css2?family=PT+Sans&family=Raleway:wght@300&display=swap" rel="stylesheet"> */
}

.pt-sans{
    font-family: 'PT Sans', sans-serif;
    /* link: <link href="https://fonts.googleapis.com/css2?family=PT+Sans&display=swap" rel="stylesheet"> */
}









/* IMPOSTAZIONE CONTAINERS */
.fluid-container{
    width: 100%;
}

.tall-container{
    height: 100%;
}

.full-container{
    width: 100%;
    height: 100%;
}

/* IMPOSTAZIONE WIDTH E HEIGHT */

/* Width */
.w-100{
    width: 100%;
}

.w-75{
    width: 75%;
}

.w-50{
    width: 50%;
}

.w-25{
    width: 25%;
}

/* Height */
.h-100{
    height: 100%;
}

.h-75{
    height: 75%;
}

.h-50{
    height: 50%;
}

.h-25{
    height: 25%;
}

/* IMPOSTAZIONE COMPORTAMENTO ELEMENTI FLEX */

/* Colonne con grandezza statica */
[class*="col-"]{
    flex-grow: 0;
    flex-shrink: 0;
}

/* Elementi con grandezza statica */
.static{
    flex-grow: 0;
    flex-shrink: 0;
}

/* Elementi sempre della stessa grandezza che occupano tutto lo spazio */
.dynamic{
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 100%;
}

/* IMPOSTAZIONE ROWS */
.row{
    display: flex;
    flex-flow: row wrap;
}

/* IMPOSTAZIONE COLUMNS (standard, no query) */
.col-1{
    flex-basis: calc((100% / 12) * 1);
    max-width: calc((100% / 12) * 1);
}

.col-2{
    flex-basis: calc((100% / 12) * 2);
    max-width: calc((100% / 12) * 2);
}

.col-3{
    flex-basis: calc((100% / 12) * 3);
    max-width: calc((100% / 12) * 3);
}

.col-4{
    flex-basis: calc((100% / 12) * 4);
    max-width: calc((100% / 12) * 4);
}

.col-5{
    flex-basis: calc((100% / 12) * 5);
    max-width: calc((100% / 12) * 5);
}

.col-6{
    flex-basis: calc((100% / 12) * 6);
    max-width: calc((100% / 12) * 6);
}

.col-7{
    flex-basis: calc((100% / 12) * 7);
    max-width: calc((100% / 12) * 7);
}

.col-8{
    flex-basis: calc((100% / 12) * 8);
    max-width: calc((100% / 12) * 8);
}

.col-9{
    flex-basis: calc((100% / 12) * 9);
    max-width: calc((100% / 12) * 9);
}

.col-10{
    flex-basis: calc((100% / 12) * 10);
    max-width: calc((100% / 12) * 10);
}

.col-11{
    flex-basis: calc((100% / 12) * 11);
    max-width: calc((100% / 12) * 11);
}

.col-12{
    flex-basis: calc((100% / 12) * 12);
    max-width: calc((100% / 12) * 12);
}

/* IMPOSTAZIONE MARGINS (standard, no query) */
.col-offset-0{
    margin-left: 0;
}

.col-offset-1{
    margin-left: calc((100% / 12) * 1);
}


.col-offset-2{
    margin-left: calc((100% / 12) * 2);
}

.col-offset-3{
    margin-left: calc((100% / 12) * 3);
}

.col-offset-4{
    margin-left: calc((100% / 12) * 4);
}

.col-offset-5{
    margin-left: calc((100% / 12) * 5);
}

.col-offset-6{
    margin-left: calc((100% / 12) * 6);
}

.col-offset-7{
    margin-left: calc((100% / 12) * 7);
}

.col-offset-8{
    margin-left: calc((100% / 12) * 8);
}

.col-offset-9{
    margin-left: calc((100% / 12) * 9);
}

.col-offset-10{
    margin-left: calc((100% / 12) * 10);
}

.col-offset-11{
    margin-left: calc((100% / 12) * 11);
}


/* QUERY CON BREAKPOINTS BOOTSTRAP 5.0 */

/* Mobile first */

